name: Go

on:
  push:
    branches: master
  pull_request:
    branches: master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v5

    - name: Set up Go 1.21
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Test
      run: go test -coverprofile=coverage.txt -covermode=atomic -v ./...

    - name: Run Revive linter
      uses: docker://morphy/revive-action:v2
      with:
        exclude: ./internal/graph/...

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
